.modal__controller {
    background-color: var(--background);
    width: 400px;
    height: 320px;
    border-color: var(--primeiraSpanColor);
    padding: 0;
    margin-top: 100px;
  left: 95px;
}

.modal__controller::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal__container {
    background-color: var(--background);
    width: 390px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal__title {
    width: 40px;
    background-color: #212529;
    border: none;
    font-size: 17px;
    margin-top: 22px;
    margin-left: 10px;

}

.modal__text {
    text-align: center;
    margin-bottom: 25px;

}

.modal_close {
    width: 35px;
    height: 30px;
    padding: 7px;
    margin-left: 325px;
    position: absolute;
    top: 19px;
    color: #868E96;
    border-radius: 5px;
    border-color: rgb(93, 92, 92);
    ;
    background-color: rgb(93, 92, 92);


}

input {
    background-color: var(--headerbacground);
    width: 350px;
    height: 45px;
    border: none;
    border-radius: 2px;
    align-self: center;
    margin-bottom: 25px;
}

.enter__button {
    background-color: var(--backgroundSpan);
    border: none;
    align-self: center;
    margin-bottom: 25px;
    width: 300px;
    margin-left: 190px;

}