/* ------------------------------- Coloque sua estilização aqui ------------------------------- */

@import url(https://fonts.google.com/specimen/Inter?query=inter);

:root {
    --background: #212529;
    --primeiraSpanColor: #364FC7;
    --backgroundSpan: #4C6EF5;
    --headerbacground: #191C1F
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: 'inter', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;


}

.generic {
    font-size: 20px;
    color: #F8F9FA;
    margin-left: 200px;

}

header {
    background-color: var(--headerbacground);
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;

}

header div {
    display: flex;
    justify-content: space-between;

}


.firstTitle {
    margin-top: 120px;
}


.primeiroParag {
    text-align: center;
    line-height: 25px;
}

.first {
    color: var(--primeiraSpanColor)
}

.more {
    display: flex;
    justify-content: center;
}

.about {
    background-color: var(--backgroundSpan);
    color: white;
    padding: 8px;
    width: 78px;
    height: 25px;
    margin: 0 auto;
    text-align: center;

}

p {
    color: #CED4DA;
}

h1 {
    color: white;

    text-align: center;

}

button {
    color: white;
    background-color: var(--background);
    border: 1px solid white;
    width: 200px;
    height: 45px;
    margin-right: 200px;
}

.parag {
    margin-top: 10px;

}

h2,
h3 {
    color: white;
}

.nextClass {
    background-color: var(--backgroundSpan);
    color: white;
    width: 200px;
    height: 30px;
    padding: 13px;
    text-align: center;
    margin-top: 800px;


}

.paragTwo {
    display: flex;
    justify-content: space-evenly;

}


.who_are_we {
    display: flex;
    justify-content: space-between;
    background-color: var(--headerbacground);
    margin-top: 155px;
    padding: 100px 200px 100px 200px;

}

.course_info {
    margin-left: 100px;

}

.questions {
    height: 271px;
    width: 400px;
    border-radius: 0px;



}

.questions_frame {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;

}

.info_title {
    margin-top: 70px;


}

.info_parag {
    margin-top: 15px;


}

.modal__controller {
    background-color: var(--background);
    width: 400px;
    height: 320px;
    border-color: var(--primeiraSpanColor);
    padding: 0;
}

.modal__controller::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal__container {
    background-color: var(--background);
    width: 400px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal__title {
    width: 40px;
    background-color: #212529;
    border: none;
    font-size: 17px;
    margin-top: 17px;

}

.modal__text {
    text-align: center;
    margin-bottom: 25px;

}

.modal_close {
    width: 35px;
    height: 30px;
    padding: 7px;
    margin-left: 325px;
    position: absolute;
    top: 19px;
    color: #868E96;
    border-radius: 5px;
    border-color: rgb(93, 92, 92);
    ;
    background-color: rgb(93, 92, 92);


}

input {
    background-color: var(--headerbacground);
    width: 350px;
    height: 45px;
    border: none;
    border-radius: 2px;
    align-self: center;
    margin-bottom: 25px;
}

.enter {
    background-color: var(--backgroundSpan);
    border: none;
    align-self: center;
    margin-bottom: 25px;
    width: 300px;
    margin-left: 190px;

}

.student {
    display: flex;
    margin-bottom: 70px;
    width: 800px;



}

.test {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;


}

.second_class {
    margin-top: 40px;

}

.student_info {
    margin-left: 50px;
}

li {
    list-style: none;
}

.student_coment {
    background-color: var(--backgroundSpan);
    width: 320px;
    height: 290px;
    text-align: center;
    padding: 70px;
    line-height: 27px;
    margin-top: 50px;



}

footer {
    background-color: var(--headerbacground);
    text-align: center;
    padding: 15px 0 15px 0;

}